@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

/*RESEÑAS BACKGROUND CUADROS*/

.resenias {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: #000000;
  display: inline-block;
  font-size: 16px;
  margin: 35px 10px 10px;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #FFFFF;
  border-radius: 6px;
  border-top: 10px solid #138D75;
}

/*FORMA CUADROS*/

.resenias *,
.resenias *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.resenias figcaption {
  padding: 13% 10% 12%;
}

/*CONTENIDO DE LAS RESEÑAS*/

.resenias figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #17202A;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #F1C40F;
  content: "\f10e";
  font-family: 'FontAwesome';
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

/*RESEÑA AUTOR*/

.resenias h3 {
  color: #17202A;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

/*CUALIDAD*/

.resenias h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

/*RESEÑA*/

.resenias blockquote {
  font-weight: 300;
  margin: 0 0 20px;
}

body {
  text-align: center;
}
